<!DOCTYPE html>
<html>
    <head>
        <title>index of dj prawn</title>
        <link rel="stylesheet" type="text/css" href="/media/css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="/media/css/styles.css" />
        <link rel="stylesheet" type="text/css" href="/media/css/antiad.css" />
        <style type="text/css">
        .video_categories li {
            display: inline;
            padding: 5px;
        }
        .video_images li {
            display: inline;
            padding: 5px;
        }
        </style>
    </head>
    <body>
    <div id="outer-header"></div>
    <div id="outer-container">
        <div id="inner-container">
            <div id='inner-header'>
                {% include "__components/main_header.html" %}
            </div>
            <div class='antiad-space top-antiad-space'>
                <div class='aside'>
                    <h3>antiad space aside</h3>
                </div>
            </div>
            <div id="content">
                <div id="inner-navigation">
                    <ul>
                        <li><a href="/rtube/" >Categories</a></li>
                        <li>Top Rated</li>
                        <li>Most Viewed</li>
                        <li><a href="/rtube/random">Random</a></li>
                    </ul>
                </div>
                <div id="video_content">
                    <h1><a href="{{video.url}}" target="_blank">{{video.title}}</a></h1>
                    <ul class="video_categories">
                        {% for tag in tags %}
                            <li><a href="/rtube/p/{{tag.url_string}}">{{tag.original}}</a></li>
                        {% endfor %}
                    </ul>
                    <ul class="video_images">
                        {% for thumb in thumbs %}
                            <li><a href="{{video.url}}" target="_blank"><img src="{{thumb.url}}" /></a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div id="outer-footer">
            <div class='antiad-space bottom-antiad-space'>
                <h3>antiad space footer</h3>
            </div>
            {% include "__components/main_footer.html" %}
        </div>
    </body>

</html>